@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* IBDA3 LAB Color Palette */
  --color-primary: #2071BC;
  --color-secondary: #164E82;
  --color-accent: #E72281;
  --color-pink: #FF60AD;
  --color-green: #79EF91;
  --color-yellow: #FDCB56;
  --color-dark: #020203;
  --color-gray-light: #EBEBEB;
  --color-gray: #D6D6D6;
}

body {
  background-color: var(--color-dark);
  color: white;
}
